## Домашнее задание к уроку 3
### Домашнее задание 1
#### Изменение таблиц в Pandas
###### * Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
###### * Считать данные с помощью pandas
###### * Вывести на экран первые 5 строк
##### 1.1 Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади
##### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
###### * Если реновации дома не было, то в новом признаке поставьте 0
##### 1.3 Создайте признаки года продажи, месяца продажи
##### 1.4 Удалите признаки date, zipcode, lat, long

In [9]:
import pandas as pd
import numpy as np
import calendar

In [12]:
df = pd.read_csv('kc_house_data.csv', encoding='latin-1', sep=',')

In [14]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Ответ на 1.1

In [15]:
df['price_specific_area']=df['price']/df['sqft_lot']

In [16]:
df[['price','sqft_lot','price_specific_area']].sort_values('sqft_lot').head(15)

           price  sqft_lot  price_specific_area
15743   700000.0       520          1346.153846
5826    250000.0       572           437.062937
7589    367500.0       600           612.500000
3452   1234570.0       609          2027.208539
20604   256950.0       635           404.645669
21552   516500.0       638           809.561129
547     259950.0       649           400.539291
4352    259950.0       649           400.539291
19662   405000.0       651           622.119816
21519   420000.0       675           622.222222
7213    304000.0       676           449.704142
21381   339950.0       681           499.192364
20095   335000.0       683           490.483163
15669   570000.0       690           826.086957
20994   650000.0       690           942.028986

#### Ответ на 1.2

In [17]:
df['delta_renovated'] = 0

In [18]:
df.loc[df['yr_renovated'] != 0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']

In [19]:
df.delta_renovated.sort_values()

0          0
14285      0
14284      0
14283      0
14282      0
        ...
586      110
6671     113
2566     114
15046    114
11695    114
Name: delta_renovated, Length: 21613, dtype: int64

#### Ответ на 1.3

In [20]:
df['date'] = pd.to_datetime(df['date'])
df['year_sale'] = df['date'].apply(lambda x: x.date().year)
df['month_sale'] = df['date'].apply(lambda x: x.date().month)
d = dict(enumerate(calendar.month_abbr))
df['month_sale'] = df['month_sale'].map(d)
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_specific_area,delta_renovated,year_sale,month_sale
18067,7658600150,2014-06-30,435000.0,4,2.00,1880,3840,1.0,0,0,...,0,98144,47.5929,-122.303,1670,1820,113.281250,0,2014,Jun
15353,644210020,2015-01-05,780000.0,4,2.50,3020,15164,1.0,0,0,...,0,98004,47.5882,-122.192,2600,11556,51.437615,0,2015,Jan
12926,3293700482,2015-01-14,509000.0,3,2.25,1780,9315,2.0,0,0,...,0,98133,47.7484,-122.353,1780,8545,54.643049,0,2015,Jan
14485,3523069060,2015-04-01,415000.0,3,1.75,1340,63597,1.0,0,0,...,0,98038,47.4379,-122.011,1950,87120,6.525465,0,2015,Apr
13116,7701930180,2014-11-10,600000.0,4,3.50,4300,70407,2.0,0,0,...,0,98058,47.4472,-122.092,3520,26727,8.521880,0,2014,Nov

#### Ответ на 1.4

In [21]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)

In [22]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_specific_area,delta_renovated,year_sale,month_sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,1340,5650,39.274336,0,2014,Oct
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,1690,7639,74.288870,40,2014,Dec
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,2720,8062,18.000000,0,2015,Feb
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,1360,5000,120.800000,0,2014,Dec
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,1800,7503,63.118812,0,2015,Feb

### Домашнее задание 2
#### Создайте датафрейм с клиентами:
##### clients = pd.DataFrame({
##### 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
##### 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]})
###### * house_id - это индексы датафрейма с домами
##### 2.1 Присоедините к таблице clients данные по домам через метод join
##### 2.2 Присоедините к таблице clients данные по домам через метод merge

In [23]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

In [24]:
clients_house_id = clients.set_index('house_id')

In [25]:
clients_house_id.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

In [26]:
df_idx = df.set_index('id')

In [27]:
df_idx.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_specific_area,delta_renovated,year_sale,month_sale
id,,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,39.274336,0,2014,Oct
6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,74.288870,40,2014,Dec
5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,18.000000,0,2015,Feb
2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,120.800000,0,2014,Dec
1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,63.118812,0,2015,Feb

#### Ответ на 2.1

In [28]:
joined = clients_house_id.join(df_idx)

In [29]:
joined.head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_specific_area,delta_renovated,year_sale,month_sale
house_id,,,,,,,,,,,,,,,,,,,,,
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,...,1500,0,1994,0,2700,7734,96.405229,0,2015,Feb
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,...,1670,200,1949,0,1710,6000,116.666667,0,2015,Apr
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,...,3680,0,2006,0,3310,7180,93.836374,0,2015,May
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,...,1720,0,1932,2009,1410,8300,84.000000,77,2014,Dec
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,...,2520,0,1999,0,2330,14007,36.944583,0,2014,Jun

#### Ответ на 2.2

In [30]:
merged = clients.merge(df, left_on = 'house_id', right_on = 'id')

In [31]:
merged.head()

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_specific_area,delta_renovated,year_sale,month_sale
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,1500,0,1994,0,2700,7734,96.405229,0,2015,Feb
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,1670,200,1949,0,1710,6000,116.666667,0,2015,Apr
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,3680,0,2006,0,3310,7180,93.836374,0,2015,May
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,1720,0,1932,2009,1410,8300,84.000000,77,2014,Dec
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,2520,0,1999,0,2330,14007,36.944583,0,2014,Jun

### Домашнее задание 3
###### Составьте несколько сводных таблиц
##### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален.
###### Отсортируйте от меньшей стоимости к большей.
##### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома.
##### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида.
##### 3.4 Каких домов в зависимости от этажности и количества спален больше?
##### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.

#### Ответ на 3.1

In [32]:
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price').apply(lambda x: round(x / 1000,0))

           price
bedrooms
1          318.0
2          401.0
0          410.0
3          466.0
11         520.0
4          635.0
33         640.0
5          787.0
10         819.0
6          826.0
9          894.0
7          951.0
8         1105.0

#### Ответ на 3.2

In [33]:
group_data = df.groupby('condition').agg({'price': ['min', 'mean', 'max']}).head()

In [34]:
cols_list = group_data.columns.to_list()

In [35]:
group_data.sort_values(cols_list[2])

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
5          110000.0  612418.089359  3650000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0

#### Ответ на 3.3

In [36]:
df.pivot_table(index='waterfront', columns='view',
               values='condition', aggfunc='count',
               fill_value=0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

#### Ответ на 3.4

In [39]:
def highlight_max(x):
    return np.where(x == np.max(x.to_numpy()), f'color: blue ;', None)

In [40]:
df.pivot_table(index='floors',
               columns='bedrooms',
               values='id',
               aggfunc='count',
              fill_value=0).style.apply(highlight_max, axis=1)

<class 'ImportError'>: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

#### Ответ на 3.5

In [41]:
df.pivot_table(index='condition',
               columns='grade',
               values='price',
               aggfunc='median',
               fill_value=0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,0.0,150000.0,190000.0,255000.0,403500.0,932500.0,0.0,0.0,0.0,0.0,0.0
2,0.0,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,0.0,0.0,0.0
3,0.0,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,0.0,0.0,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,0.0,262000.0,0.0,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,0.0